@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global styling css start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* global styling css end */

/* index.css start */
/* header css start */
.logo {
    width: 90px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: rgb(245, 245, 17);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
    position: relative;
    width: max-content;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;
}

#lg-bag{
    position: relative;
}

#navbar span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    top:40%;
    right: -15px;
}

/* media query  for hamburger menu to not display in large screen*/
#mobile {
    
    display: none;
    align-items: center;
}

#close {
    display: none;
}
/* media query  for hamburger menu to not display in large screen*/

/* header css end */


/* home page body start */
/* hero css start */
#hero {
    background-image: url(images/hero.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% right 10%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url(images/button.png);
    background-color: transparent;
    border: none;
    background-size: cover;
    background-position: top 50% right 0;
    color: #088178;
    padding: 30px 80px 30px 65px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
}

#hero button:hover {
    color: white;
}

/* hero css end */

/* feature css start */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 10px;
    cursor: pointer;
    transition: 1s ease;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
    aspect-ratio: 1.5;
    object-fit: contain;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* feature css end */

/* product css start */
#product1 {
    text-align: center;
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 10px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product img {
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 0.7;
    object-fit: cover;
}

#product1 .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .product .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .product .description span {
    color: #606063;
    font-size: 12px;
}

#product1 .product .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .product .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .product .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}

#product1 .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 700;
    color: #088178;
    border: 2px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

/* product css end */

/* banner css start */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/banner/banner.jpg);
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#red {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
    font-weight: bold;
}

/* banner css end */

/* small banners  css start */
#small-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#small-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/banner/banner2.jpg);
    min-width: 47%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border: 1px solid;
    flex-wrap: wrap;
}

#small-banner .banner-box2 {
    border: none;
    background-image: url(images/banner/banner3.jpg);
}

#small-banner h4 {
    color: rgb(6, 116, 206);
    font-size: 50px;
    font-weight: 300;
}

#small-banner h2 {
    color: rgb(6, 116, 206);
    font-size: 35px;
    font-weight: 800;
}

#small-banner span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 15px;
}

/* css for button */
.color {
    background-color: #088179a2;
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#small-banner .banner-box:hover button {
    color: rgba(0, 0, 0);
    font-weight: bolder;
    background-color: #088179;
    border: 1px solid #088178;
}

/* small banners  css end */

/* banner3 css start */
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(images/banner/banner4.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .box2 {
    background-image: url(images/banner/banner5.jpg);
}

#banner3 .box3 {
    background-image: url(images/banner/banner6.jpg);

}

#banner3 h2 {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: white;
    font-weight: 800;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

/* banner3 css end */

/* newsletter css start */
#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(images/banner/banner.jpg);
    background-size: cover;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #084396;

}

#newsletter h4 span {
    color: #ffbd27;
}

#newsletter span:hover {
    cursor: pointer;
    color: #ffbe2797;
}

#newsletter .form {
    display: flex;
    width: 30%;

}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* newsletter css end */
/* home page body end  */

/* footer  css start */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    width: 55px;
    margin-bottom: 30px;
    transition: 0.3s ease;
}

footer .logo:hover {
    width: 80px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    padding: 0 0 8px 0;
}

footer a {
    text-decoration: none;
    font-size: 15px;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .icon .social-media {
    font-size: 20px;
    color: rgb(24, 119, 242);
    padding-right: 10px;
    cursor: pointer;
}

footer .icon .social-media:nth-child(2) {
    color: rgb(29, 161, 242);
}

footer .icon .social-media:nth-child(3) {
    color: rgb(253, 36, 76);
}

footer .icon .social-media:nth-child(4) {
    color: rgb(230, 0, 35);
}

footer .icon .social-media:nth-child(5) {
    color: #CD201F;
}

footer a:hover {
    color: #088178;
}

footer .follow .social-media:hover {
    color: #088178;
    font-size: 25px;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 8px;
    background-size: contain;
}

footer .install img {
    margin: 10px 0 15px 0;
}

.column .paymethod {

    width: 50%;
    margin-top: 0;
    padding-top: 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* footer css end*/
/* index.css end */

/* shop.css start */
/* page-header css start */
#page-header {
    background-image: url(images/banner/banner7.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

/* page-header end */

/* pagination start */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* pagination end */
/* shop.css end */

/* sproduct.css start */
#product-details {
    display: flex;
    margin-top: 20px;
}

.single-product-image {
    width: 40%;
    margin-right: 50px;
}

#product-details .small-img-group {
    display: flex;
    justify-content: space-between;

}

.single-product-image img {
    border: none;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .single-product-details {
    width: 50%;
    padding-top: 30px;
}

#product-details .single-product-details h4 {
    padding: 40px 0 20px 0;
}

#product-details .single-product-details h2 {
    font-size: 26px;
}

#product-details .single-product-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#product-details .single-product-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#product-details .single-product-details input:focus {
    outline: none;
}

#product-details .single-product-details button {
    color: #fff;
    background-color: #088178;
}

#product-details .single-product-details span {
    line-height: 25px;
}

/* sproduct.css end */

/* blog.css start */
#page-header.blog-header {
    width: 100%;
    background-image: url(images/banner/banner0.avif);
    background-position: top 70% right 0;
    height: 70vh;
}

#page-header.blog-header h2,
#page-header.blog-header p {
    color: #000;
    font-weight: bold;
}

#blog {
    padding: 150px 150px 0 150px;

}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-image {
    width: 50%;
    margin-right: 40px;

}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;

}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0px;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
}

/* blog.css end */

/* about.css start */
#blog-page-header.about-header {
    background-image: url(images/banner/banner7.jpg);
}

#about-page-header h2,
#about-page-header p {
    color: #fff;
}

#about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#about-header img {
    width: 50%;
    height: auto;
}

#about-header div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* about.css end */

/* contact.css start */
#contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-details .details {
    width: 50%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;

}

#contact-details .details li p {
    font-size: 14px;
    margin: 0;

}

#contact-details .map {
    width: 50%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 100px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* contact.css end */

/* cart.css start */
#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#cupon {
    width: 50%;
    margin-bottom: 30px;
}

#cupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#cupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#cupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* cart.css end */



/* medium device query start */
@media (max-width:799px) {

    /* global start*/
    .section-p1 {
        padding: 40px 40px;
    }

    /* global end*/

    /* header start */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 1s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    /* header end */

    /* hero start */
    #hero {
        height: 74vh;
        padding: 0px 80px;
        background-position: left 20%;
        background-size: cover;
    }

    /* hero end */

    /* feature start */
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    /* feature end */

    /* product1 start */
    #product1 .product-container {
        justify-content: center;
    }

    #product1 .product {
        margin: 15px;
    }

    /* product1 end */

    /* banner start */
    #banner {
        height: 20vh;
    }

    /* banner end */

    /* small-banner start */
    #small-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    /* small-banner end */

    /* banner3 start */
    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    /* banner3 end */

    /* newsletter start */
    #newsletter .form {
        width: 70%;
    }

    /* newsletter end */

    /* contact query start*/
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }

    /* contact query end */
}

/* medium device query end */

/*small mobile device query start */
@media(max-width: 477px) {

    /* global start */
    .section-p1 {
        padding: 20px;
    }

    /* global end */

    /* header start */
    #header {
        padding: 10px 30px;
    }

    /* header end */

    /* hero start */
    #hero {
        background-position: 55%;
        padding: 0 20px;
    }

    #h1 {
        font-size: 38px;
    }

    #h2 {
        font-size: 32px;
    }

    /* hero end */

    /* feature start */
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #feature {
        justify-content: space-between;
    }

    /* feature end */

    /* product start */
    #product1 .product {
        width: 100%;
    }

    /* product end */

    /* banner start */
    #banner {
        height: 40vh;
    }

    /* banner end */

    /* small-banner start */
    #small-banner .banner-box {
        height: 40vh;
    }

    #small-banner .banner-box2 {
        margin-top: 20px;
    }

    #small-banner .banner-box h4 {
        font-size: 40px;
    }

    /* small-banner end */

    /* banner3 start */
    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    /* banner3 end */

    /* newsletter start */
    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* news letter end */

    /* footer start */
    footer .copyright {
        text-align: start;
    }

    footer .row {
        display: flex;
        flex-direction: column;
    }

    footer .row img {
        padding: 0;
        margin-bottom: 10px;
    }

    footer .col p,
    h4 {
        margin-bottom: 0px;
    }

    /* sproduct start*/
    #product-details {
        display: flex;
        flex-direction: column;

    }

    #product-details .single-product-image {
        width: 100%;
        margin-right: 0px;
    }

    #product-details .single-product-details {
        width: 100%;
    }

    /* sproduct end start*/

    /* blog start */
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-image {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details {
        width: 100%;
        margin-right: 0px;
    }

    /* blog end */

    /* about-page */
    #about-header {
        flex-direction: column;
    }

    #about-header img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-header div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    /* about-page end */

    /* contact media query start */
    #contact-details {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #contact-details .details,
    #contact-details .map {
        width: 100%;
    }

    #contact-details .details {
        margin-bottom: 30px;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    footer {
        display: flex;
        flex-direction: column;

    }

    /* contact media query end */

    /* cart madia query start */
    #cart-add {
        flex-direction: column;
    }

    #cupon,
    #subtotal {
        width: 100%;
    }

    #subtotal {
        padding: 20px;
    }

    /* cart media query end */
}

/*small mobile device query end */